@* @using Tax_Calculator.Models

<h3>Basic Details</h3>

<div class="form-group">
    <label>First Name</label>
    <input class="form-control" @bind-Value="Model.First_Name" />
</div>
<div class="form-group">
    <label>Last Name</label>
    <input class="form-control" @bind-Value="Model.Last_Name" />
</div>
<div class="form-group">
    <label>Date of Birth</label>
    <input type="date" class="form-control" @bind-Value="Model.DOB" />
</div>
<div class="form-group">
    <label>PAN Number</label>
    <input class="form-control" @bind-value="Model.PAN_NUMBER" />
</div>

<button class="btn btn-primary" @onclick="() => OnNext.InvokeAsync()">Next</button>

@code {
    private BasicDetails Model { get; set; } = new BasicDetails();

    [Parameter] public EventCallback OnNext { get; set; }
} *@

